<!DOCTYPE html>
<html>
  <head>
    <title>FirstApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <ul>
        <li> <%= link_to 'One', pages_one_url %> </li>
        <li> <%= link_to 'Two', pages_two_url %> </li>
        <li> <%= link_to 'Three', pages_three_url %> </li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
