<!DOCTYPE html>
<html>
  <head>
    <title>FirstApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <ul class="nav navbar-nav">
        <%= link_to 'One', pages_one_url %><br/>
        <%= link_to 'Two', pages_two_url %><br/>
        <%= link_to 'Three', pages_three_url %><br/>
        <%= yield %>
      </ul>
    </nav>
  </body>
</html>
